<div class="column is-8-desktop is-12-tablet doc-content" data-title="Les Bases de la Cybersécurité" data-content="Bienvenue dans la section dédiée aux bases de la cybersécurité. Ici, vous découvrirez les concepts fondamentaux pour protéger vos systèmes, vos données, et votre vie privée contre les cybermenaces. Comprendre les risques liés à la sécurité informatique. Adopter les bonnes pratiques au quotidien. Utiliser les outils nécessaires pour sécuriser vos informations. Connaître la législation en vigueur pour rester conforme.">
    <div class="px-4">
        <h2 class="mb-4 has-text-weight-medium">Les Bases de la Cybersécurité</h2>

        <!-- Section Vidéo Youtube -->
        <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; margin-bottom: 20px;">
            <iframe src="https://www.youtube.com/embed/cWUVAZNEkYQ?si=Ykn1awe11vVn3w75"
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
                    allowfullscreen 
                    title="Présentation Cybersécurité">
            </iframe>
        </div>
        <hr>
        <div class="content">
            <p>Bienvenue dans la section dédiée aux bases de la cybersécurité. Ici, vous découvrirez les concepts fondamentaux pour protéger vos systèmes, vos données, et votre vie privée contre les cybermenaces.</p>

            <ul>
                <li>Comprendre les risques liés à la sécurité informatique.</li>
                <li>Adopter les bonnes pratiques au quotidien.</li>
                <li>Utiliser les outils nécessaires pour sécuriser vos informations.</li>
                <li>Connaître la législation en vigueur pour rester conforme.</li>
            </ul>

            <div class="notices tip">
                <p>✅ La cybersécurité commence par une bonne hygiène numérique. Chaque geste compte.</p>
            </div>
            <hr>
        </div>
    </div>
</div>
