<div class="column is-8-desktop is-12-tablet">
    <div class="px-4">
      <h2 class="mb-4 has-text-weight-medium">Bonnes Pratiques au Quotidien</h2>
      <div class="content">
        <ul>
          <li>Utilisez un <strong>mot de passe fort</strong> et unique par compte.</li>
          <li>Activez la <strong>double authentification (MFA)</strong>.</li>
          <li>Vérifiez toujours l’expéditeur avant de cliquer sur un lien dans un email.</li>
          <li>Mettez à jour régulièrement vos logiciels et systèmes.</li>
          <li>Sauvegardez vos données sur un support externe sécurisé.</li>
        </ul>
  
        <div class="notices tip">
          <p>✅ Pensez à former vos collègues, car la cybersécurité est l’affaire de tous.</p>
        </div>
        <hr>
      </div>
    </div>
  </div>
  