<div class="column is-8-desktop is-12-tablet">
    <div class="px-4">
      <h2 class="mb-4 has-text-weight-medium">Outils pour Mieux Se Protéger</h2>
      <div class="content">
        <p>Voici quelques outils recommandés pour sécuriser vos usages :</p>
  
        <ul>
          <li><strong>Gestionnaire de mots de passe</strong> : <a href="https://cloud.casud.re/apps/passwords/" alt="NextCloud Password">NextCloud Password</a>, Bitwarden, KeePass, Dashlane</li>
          <li><strong>Antivirus</strong> : Windows Defender, Malwarebytes, Avast (pro)</li>
          <li><strong>VPN</strong> : pour chiffrer vos connexions à distance</li>
          <li><strong>Analyse de mail</strong> : VirusTotal, Google Safe Browsing</li>
        </ul>
  
        <div class="notices note">
          <p>🔒 Un outil seul ne suffit pas : l’humain reste la première ligne de défense.</p>
        </div>
  
        <hr>
      </div>
    </div>
  </div>
  