<div class="column is-8-desktop is-12-tablet">
    <div class="px-4">
      <h2 class="mb-4 has-text-weight-medium">Glossaire Cybersécurité</h2>
      <div class="content">
      <br>
        <dl>
          <dt><strong>Phishing</strong></dt>
          <dd>Hameçonnage visant à voler des informations en se faisant passer pour un tiers de confiance.</dd>
  
          <dt><strong>MFA</strong></dt>
          <dd>Multi-Factor Authentication — Vérification par plusieurs moyens (mot de passe + SMS par exemple).</dd>
  
          <dt><strong>SI</strong></dt>
          <dd>Système d’Information — ensemble des ressources (matérielles et logicielles) permettant de gérer l'information.</dd>
  
          <dt><strong>VPN</strong></dt>
          <dd>Réseau privé virtuel qui permet de sécuriser une connexion sur un réseau non sécurisé.</dd>
  
          <dt><strong>EDR</strong></dt>
          <dd>Endpoint Detection & Response — outil de surveillance avancée des postes de travail.</dd>
        </dl>
        <hr>
      </div>
    </div>
  </div>
  