<div class="column is-8-desktop is-12-tablet">
    <div class="px-4">
      <h2 class="mb-4 has-text-weight-medium">Notions de Législation</h2>
      <div class="content">
        <ul>
          <li><strong>RGPD</strong> : protège les données personnelles en Europe (traitement, consentement, droit à l’oubli...)</li>
          <li><strong>NIS2</strong> : directive européenne imposant des obligations de cybersécurité aux organismes publics et privés.</li>
          <li><strong>CNIL</strong> : autorité française chargée de la protection des données personnelles.</li>
        </ul>
  
        <div class="notices info">
          <p>⚠️ Une fuite de données peut entraîner des sanctions financières importantes et nuire à la réputation d’un organisme.</p>
        </div>
  
        <hr>

            <!-- Section Vidéo Youtube -->
            <h5 id="youtube-video">Présentation Vidéo</h5>
            <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; margin-bottom: 20px;">
                <iframe src="https://www.youtube.com/embed/ZdDMt9H_1l0?si=ZpDgEUBPo_YzbyPu"
                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
                        allowfullscreen 
                        title="Présentation Cybersécurité">
                </iframe>
            </div>

            <p>Cette vidéo vous présente les bases de la cybersécurité et met en lumière l'importance de la conformité à la directive NIS2, essentielle pour assurer la sécurité des systèmes d'information au sein des organisations publiques, comme la CASUD, face aux menaces numériques croissantes.</p>

          <hr>
      </div>
    </div>
  </div>
  