@use 'variables' as v;
@use 'mixins' as m;
@use "sass:color";


/* Button style */
.btn {
   font-size: 16px;
   font-family: v.$primary-font;
   text-transform: capitalize;
   padding: 13px 30px;
   border-radius: 6px;
   border: 1px solid;
   position: relative;
   z-index: 1;
   transition: .2s ease;
   font-weight: 600;
   display: inline-block;

   &:hover,
   &:active,
   &:focus {
      outline: 0;
      box-shadow: none !important;
   }

   &-sm {
      font-size: 14px;
      padding: 10px 25px;
   }
}

.btn-primary {
   background: v.$primary-color;
   color: v.$white;
   border-color: v.$primary-color;

   &:active,
   &:hover,
   &:focus,
   &.focus,
   &.active {
      color: v.$white;
      background: color.adjust($color: v.$primary-color, $lightness: -10%) !important;
      border-color: color.adjust($color: v.$primary-color, $lightness: -10%) !important;
   }
}

.btn-outline-primary {
   background: transparent;
   color: v.$primary-color;
   border-color: v.$primary-color;

   &:active,
   &:hover,
   &:focus,
   &.focus,
   &.active {
      background: color.adjust($color: v.$primary-color, $lightness: -10%) !important;
      border-color: color.adjust($color: v.$primary-color, $lightness: -10%) !important;
      color: v.$white;
   }
}

.stretched-link::after {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0, 0, 0, 0);
}