<footer>
   <div class="container">
      <div class="columns is-multiline is-align-items-center border-bottom py-5">
         <div class="column is-4-desktop is-12-tablet">
            <ul class="list-inline footer-menu has-text-centered has-text-left-desktop">
               <li class="list-inline-item"><a href="https://www.lemondeinformatique.fr/securite-informatique-3.html" target="_blank">Actu Cyber</a></li>
               <li class="list-inline-item"><a href="https://zmail.casud.re/?app=mail&view=compose&to=dsi@casud.re&subject=Demande%20d%27assistance&body=Bonjour%20DSI,%0A%0AMerci%20de%20prendre%20en%20compte%20ma%20demande%20d%27assistance." target="_blank">Assistance</a></li>
               <li class="list-inline-item"><a href="#faq">FAQ</a></li>
            </ul>
         </div>
         <div class="column is-4-desktop is-12-tablet">
            <a class="navbar-brand is-justify-content-center" href="index.html">
               <img class="img-fluid" src="images/logo.png" alt="Logo Centre Cyber CASUD" width="155px">
            </a>
         </div>
         <div class="column is-4-desktop is-12-tablet">
            <ul class="list-inline social-icons has-text-right-desktop has-text-centered">
               <li class="list-inline-item"><a href="https://www.casud.re/" target="_blank"><i class="ti ti-world"></i></a></li>
            </ul>
         </div>
      </div>
      <div class="py-4 has-text-centered">
         <small class="text-light">Copyright ©casud 2025</small>
      </div>
   </div>
</footer>