<nav class="navbar is-sticky-top navigation" role="navigation" aria-label="main navigation">
   <div class="container">
      <div class="navbar-brand">
         <a class="navbar-item" href="index.html">
            <img class="img-fluid" src="images/logo.png" alt="godocs" width="155px">
         </a>
   
         <a role="button" class="navbar-burger burger" aria-expanded="false" data-target="navbar-links">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
         </a>
      </div>
   
      <div id="navbar-links" class="navbar-menu">
         <div class="navbar-start ml-auto">
            <a class="navbar-item" href="index.html">Accueil</a>
            <a class="navbar-item" href="documentation.html">Documentation</a>
         </div>
   
         <div class="navbar-end ml-0">
            <div class="navbar-item py-0">
               <a href="https://www.lemondeinformatique.fr/securite-informatique-3.html" target="_blank" class="btn btn-sm btn-outline-primary ml-4">Actu Cyber</a>
               <a href="https://zmail.casud.re/?app=mail&view=compose&to=dsi@casud.re&subject=Demande%20d%27assistance&body=Bonjour%20DSI,%0A%0AMerci%20de%20prendre%20en%20compte%20ma%20demande%20d%27assistance." class="btn btn-sm btn-primary ml-4" target="_blank">Assistance</a>
            </div>
         </div>
      </div>
   </div>
</nav>