<!-- sidebar -->
<div class="column is-3-desktop is-12-tablet">
  <ul class="sidenav" id="sidebar-menu">

    <!-- Les Bases -->
    <li title="Basic Startup" class="sidelist parent">
      <a data-doc="bases/bases" href="javascript:;">Les Bases</a>
      <ul>
        <li class="sidelist"><a data-doc="bases/bases-risques" href="javascript:;">Risques</a></li>
        <li class="sidelist"><a data-doc="bases/bases-bonnes-pratiques" href="javascript:;">Bonnes Pratiques</a></li>
        <li class="sidelist"><a data-doc="bases/bases-outils-utiles" href="javascript:;">Outils Utiles</a></li>
        <li class="sidelist"><a data-doc="bases/bases-legislation" href="javascript:;">Législation</a></li>
        <li class="sidelist"><a data-doc="bases/bases-glossaire" href="javascript:;">Glossaire</a></li>
      </ul>
    </li>

    <!-- Ne pas être piégé -->
    <li class="sidelist parent">
      <a data-doc="ne-pas-etre-piege/ne-pas-etre-piege" href="javascript:;">Ne pas être piégé</a>
      <ul>
        <li class="sidelist"><a data-doc="ne-pas-etre-piege/ne-pas-etre-piege-phishing" href="javascript:;">Phishing</a></li>
        <li class="sidelist"><a data-doc="ne-pas-etre-piege/ne-pas-etre-piege-ransomware" href="javascript:;">Ransomware</a></li>
        <li class="sidelist"><a data-doc="ne-pas-etre-piege/ne-pas-etre-piege-fake-news" href="javascript:;">Fake News</a></li>
        <li class="sidelist"><a data-doc="ne-pas-etre-piege/ne-pas-etre-piege-escroqueries" href="javascript:;">Escroqueries</a></li>
        <li class="sidelist"><a data-doc="ne-pas-etre-piege/ne-pas-etre-piege-securiser-comptes" href="javascript:;">Sécuriser ses
            Comptes</a></li>
      </ul>
    </li>

    <!-- Télétravail & Sécurité -->
    <li class="sidelist parent">
      <a data-doc="teletravail-et-securite/teletravail-et-securite" href="javascript:;">Télétravail & Sécurité</a>
      <ul>
        <li class="sidelist"><a data-doc="teletravail-et-securite/teletravail-connexion-internet" href="javascript:;">Connexion Internet</a></li>
        <li class="sidelist"><a data-doc="teletravail-et-securite/teletravail-gestion-donnees" href="javascript:;">Données Sensibles</a>
        </li>
        <li class="sidelist"><a data-doc="teletravail-et-securite/teletravail-menaces-specifiques" href="javascript:;">Les menaces</a></li>
        <li class="sidelist"><a data-doc="teletravail-et-securite/teletravail-securiser-poste-travail" href="javascript:;">Poste de Travail</a></li>
        <li class="sidelist"><a data-doc="teletravail-et-securite/teletravail-vpn-acces-distance" href="javascript:;">VPN</a>
        </li>
      </ul>
    </li>

    <!-- Sécurité des locaux -->
    <li class="sidelist parent">
      <a data-doc="securite-des-locaux/securite-locaux" href="javascript:;">Sécurité des locaux</a>
      <ul>
        <li class="sidelist"><a data-doc="securite-des-locaux/securite-locaux-controle-acces" href="javascript:;">Contrôle d'Accès</a></li>
        <li class="sidelist"><a data-doc="securite-des-locaux/securite-locaux-surveillance-video" href="javascript:;">Vidéo
            Surveillance</a></li>
        <li class="sidelist"><a data-doc="securite-des-locaux/securite-locaux-protection-intrusion" href="javascript:;">Sécuriser le
            Bâtiment</a></li>
        <li class="sidelist"><a data-doc="securite-des-locaux/securite-locaux-zones-sensibles" href="javascript:;">Zones Sensibles</a>
        </li>
        <li class="sidelist"><a data-doc="securite-des-locaux/securite-locaux-gestion-incidents" href="javascript:;">Incidents Physiques</a></li>
      </ul>
    </li>
  </ul>
</div>
</script>