<div class="column is-8-desktop is-12-tablet">
    <div class="px-4">
      <h2 class="mb-4 has-text-weight-medium">Sécuriser ses Comptes en Ligne</h2>
      <div class="content">
        <p>La sécurisation de vos comptes est essentielle pour éviter les usurpations et les piratages.</p>
  
        <ul>
          <li><strong>Utilisez un mot de passe unique</strong> pour chaque compte, idéalement géré par un gestionnaire de mots de passe.</li>
          <li><strong>Activez l’authentification à deux facteurs (2FA)</strong> lorsque c’est possible.</li>
          <li><strong>Évitez les réseaux Wi-Fi publics</strong> pour accéder à vos informations sensibles.</li>
          <li><strong>Changez vos mots de passe régulièrement</strong> et vérifiez les tentatives de connexion suspectes.</li>
        </ul>
  
        <div class="notices note">
          <p>🔒 La sécurité de vos comptes dépend aussi de la sécurité de votre ordinateur et de vos appareils mobiles.</p>
        </div>
        <hr>

            <!-- Section Vidéo Youtube -->
            <h5 id="youtube-video">Présentation Vidéo</h5>
            <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; margin-bottom: 20px;">
                <iframe src="https://www.youtube.com/embed/cvKmk_JySRQ?si=qYMeGAB1jlwGsRiR"
                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
                        allowfullscreen 
                        title="Présentation Cybersécurité">
                </iframe>
            </div>

            <p>Cette vidéo vous montre l'importance de choisir des mots de passe forts et uniques, ainsi que l'activation de l'authentification à deux facteurs pour protéger efficacement vos comptes en ligne contre les tentatives de piratage.</p>

        <hr>
      </div>
    </div>
  </div>
  